.command-name {
	font-family: "Roboto Mono", monospace, Arial;
}

.admin-command {
	color: rgb(249, 78, 39);
}

.mod-command {
	color: rgb(31, 163, 244);
}

.teamscribble-command {
	color: rgb(187, 30, 244);
}
